---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/991625/information?apiKey=244f5d456f3e4d1d8c5e414081025f50&includeNutrition=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.0'
      X-Api-Quota-Used:
      - '2.1'
      X-Api-Quota-Left:
      - '147.9'
    body:
      encoding: ASCII-8BIT
      string: '{"vegetarian":true,"vegan":false,"glutenFree":true,"dairyFree":false,"veryHealthy":false,"cheap":false,"veryPopular":false,"sustainable":false,"lowFodmap":false,"weightWatcherSmartPoints":7,"gaps":"no","preparationMinutes":10,"cookingMinutes":25,"aggregateLikes":14,"healthScore":2,"creditsText":"Jen
        West","sourceName":"Pink When","pricePerServing":54.11,"extendedIngredients":[{"id":1123,"aisle":"Milk,
        Eggs, Other Dairy","image":"egg.png","consistency":"SOLID","name":"eggs","nameClean":"egg","original":"4
        eggs","originalName":"eggs","amount":4.0,"unit":"","meta":[],"measures":{"us":{"amount":4.0,"unitShort":"","unitLong":""},"metric":{"amount":4.0,"unitShort":"","unitLong":""}}},{"id":1123,"aisle":"Milk,
        Eggs, Other Dairy","image":"egg.png","consistency":"SOLID","name":"eggs","nameClean":"egg","original":"6
        Cadbury eggs.","originalName":"Cadbury eggs","amount":6.0,"unit":"","meta":[],"measures":{"us":{"amount":6.0,"unitShort":"","unitLong":""},"metric":{"amount":6.0,"unitShort":"","unitLong":""}}},{"id":1077,"aisle":"Milk,
        Eggs, Other Dairy","image":"milk.png","consistency":"LIQUID","name":"milk","nam[...]
