---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/findByIngredients?apiKey=244f5d456f3e4d1d8c5e414081025f50&ingredients=milk,%20eggs&number=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.1'
      X-Api-Quota-Used:
      - '1.1'
      X-Api-Quota-Left:
      - '148.9'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":991625,"title":"Nutella Buttercream Cupcakes with Hidden Cadbury
        Egg","image":"https://spoonacular.com/recipeImages/991625-312x231.jpg","imageType":"jpg","usedIngredientCount":2,"missedIngredientCount":1,"missedIngredients":[{"id":2050,"amount":1.0,"unit":"tsp","unitLong":"teaspoon","unitShort":"tsp","aisle":"Baking","name":"vanilla","original":"1
        tsp of vanilla,","originalName":"vanilla","meta":[],"image":"https://spoonacular.com/cdn/ingredients_100x100/vanilla-extract.jpg"}],"usedIngredients":[{"id":1123,"amount":4.0,"unit":"","unitLong":"","unitShort":"","aisle":"Milk,
        Eggs, Other Dairy","name":"eggs","original":"4 eggs","originalName":"eggs","meta":[],"image":"https://spoonacular.com/cdn/ingredients_100x100/egg.png"},{"id":1077,"amount":1.0,"unit":"cup","unitLong":"cup","unitShort":"cup","aisle":"Milk,
        Eggs, Other Dairy","name":"milk","original":"1 cup of milk,","originalName":"milk","meta":[],"image":"https://spoonacular.com/cdn/ingredients_100x100/milk.png"}],"unusedIngredients":[],"likes":14},{"id":665573,"title":"Yorkshire
        Pudding","image":"https://spoonacular.com/recipeImages/665573-312x231.jpg","imageType":"jpg","usedIngredientCount":2,"missedIngredientCount":1,"missedIngredients":[{"id":93713,"amount":0.5,"unit":"cup","unitLong":"cups","unitShort":"cup","aisle":"Meat","name":"roast
        beef","original":"1/2 cup pan drippings from roast beef preferably","originalName":"pan
        drippings from roast beef preferably","meta":[],"image":"https://spoonacular.com/cdn/[...]
